
/* 以下ヘッダー */


.header{
  background-color:yellowgreen;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.RopeWay-icon{
  height: 50px;
  width: 150px;
}

.menu-list{
  display: flex;
  align-items: center;
  font-size: larger;
}

.menu{
  margin-left: 40px;
  margin-right: 10px;
}

/* ここまでヘッダー */

/* 以下フッター */
footer{
  background-color: darkgray;
  width: 100vw;
  height: 70px;
}


/* ここまでフッター */